.annotate__main {
  
    .surgery__phases {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
  
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #d5dafe;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
  
    .surgical__tools {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      } 
  
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #d5dafe;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
  
    .expert__btn {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #d5dafe;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
  
    .audio__btn {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #d5dafe;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
  
    .usgscan__btn {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
  
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #d5dafe;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
  
    .preoperativedata__btn {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
  
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #00218a;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
    .postoperativedata__btn {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
  
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #00218a;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }

    .surgeryobject__btn {
      cursor: pointer;
  
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #d5dafe;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: #00218a;
        transition: all ease-in-out 250ms;
      }
  
      &:hover {
        .btn__bg {
          transition: all ease-in-out 250ms;
          fill: #00218a;
        }
  
        .btn__secondary {
          transition: all ease-in-out 250ms;
          fill: white;
        }
  
        .btn__text {
          fill: white;
          transition: all ease-in-out 250ms;
        }
      }
  
      // &.selected {
      //   .btn__bg {
      //     transition: all ease-in-out 250ms;
      //     fill: #00218a;
      //   }
  
      //   .btn__secondary {
      //     transition: all ease-in-out 250ms;
      //     fill: white;
      //   }
  
      //   .btn__text {
      //     fill: #00218a;
      //     transition: all ease-in-out 250ms;
      //   }
      // }
    }
  }
  