.annotationbtn {
  cursor: pointer;
  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }
  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &:hover {
    .btn__bg {
      fill: #00218a;
      color: white;
    }

    .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }
    .btn__text {
      fill: #ffffff;
    }
  }
}

.usgbtn,
.pre-operativebtn,
.operativebtn,
.post-operativebtn {
  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &.uploaded{
    .btn__bg{
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }
  }

  

  &.selected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }
  }
}

.segmented__btn,
.hand-annotation__btn,
.post-annotation__btn,
.phase-annotation__btn,
.audio-description__btn,
.usg-annotation__btn,
.pre-annotation__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #48bfe3;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &:hover,
  &.selected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.selected {
    pointer-events: none;
  }
}
