

.usg__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
}

.operative__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  // &:hover {
  //   .btn__bg {
  //     transition: all ease-in-out 250ms;
  //     //fill: #00218a;
  //   }

  //   .btn__secondary {
  //     transition: all ease-in-out 250ms;
  //     fill: white;
  //   }

  //   .btn__text {
  //     fill: white;
  //     transition: all ease-in-out 250ms;
  //   }
  // }

  &.selected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }
}

.usg__report__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }
  

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.clicked {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      // fill: #00218A;
      transition: all ease-in-out 250ms;
    }
  }

  &.uploaded{
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8b5e34;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      // fill: #00218A;
      transition: all ease-in-out 250ms;
    }
  }
}

.usg__vid__img {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }
  

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.clicked {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      // fill: #00218A;
      transition: all ease-in-out 250ms;
    }
  }

  &.uploaded{
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8b5e34;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      // fill: #00218A;
      transition: all ease-in-out 250ms;
    }
  }
}

.annotation__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
}

.post-operative__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.selected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }
}

  


