.usg__btn {
  &.partial
  {cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }}

  &.sub-uploaded {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #f0933c;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

  &.uploaded {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

  &.uploaded:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.selected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
    &:hover {
      .btn__bg {
        transition: all ease-in-out 250ms;
        fill: #8ec951;
      }
  
      .btn__secondary {
        transition: all ease-in-out 250ms;
        fill: white;
      }
  
      .btn__text {
        fill: white;
        transition: all ease-in-out 250ms;
      }
    }
  }

  &.sub {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #a0f14e;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }
  &.sub:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #a0f14e;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
}

.operative__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &.partialuploaded {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

  &.partialuploaded:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.partialselected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      // fill: #00218A;
      transition: all ease-in-out 250ms;
    }
  }
  &.partialselected:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.partial:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
}

.pre-operative__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &.partialuploaded {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

 

  &.partialselected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

  &.partialselected:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.partial:hover {
    .btn__bg {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.partialuploaded:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
}

.annotations__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &.uploaded {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

  &.uploaded:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #00218a;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
  &.selected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }
}

.post-operative__btn {
  cursor: pointer;

  .btn__bg {
    transition: all ease-in-out 250ms;
    fill: #d5dafe;
  }

  .btn__secondary {
    transition: all ease-in-out 250ms;
    fill: white;
  }

  .btn__text {
    fill: #00218a;
    transition: all ease-in-out 250ms;
  }

  &.partialuploaded {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

 

  &.partialselected {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }
  }

  &.partialselected:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #8ec951;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.partial:hover {
    .btn__bg {
      fill: #00218a;
      transition: all ease-in-out 250ms;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }

  &.partialuploaded:hover {
    .btn__bg {
      transition: all ease-in-out 250ms;
      fill: #b4671f;
    }

    .btn__secondary {
      transition: all ease-in-out 250ms;
      fill: white;
    }

    .btn__text {
      fill: white;
      transition: all ease-in-out 250ms;
    }
  }
}
