.layers__seg__view {
  position: relative;
  min-height: calc(100vh - 54px);

  .secondary__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.75rem 0.5rem;
    background: #403d39;
    margin-top: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 9;

    #ai__icon {
      width: 42px;
      height: 42px;
    }

    .nav__inputs {
      display: flex;
      align-items: center;

      .frame__number,
      .case__number {
        span {
          margin-right: 0.75rem;
        }

        #frame__no,
        #case__no {
          border-radius: 5px;
          padding: 0.5rem;
          outline: none;
          border: none;
        }
      }

      .frame__number {
        margin-left: 1rem;
      }
    }

    .annotate__btn {
      background: #ff6d23;
      color: white;
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 0.25rem 1.25rem;
    }

    .dummy__btn {
      width: 0px;
      padding: 0;
      border: none;
    }
  }

  .mask__panel{
    position: absolute;
    top: calc(50% + 4.5rem);
    transform: translate(0%, -50%);
    right: 0rem;
    height: 82.75vh;
    width: 40%;
    background: #72BED6;
    opacity: 0.5;
  }

  .player__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.5rem);
    display: flex;
    justify-content: center;
    max-height: 55vh;

    .plyr{
      .plyr__video-wrapper{
        video{
          object-fit: cover;
        }
      }
    }

    &.half{
      left: 5%;
      transform: translate(0%, -50%);
      width: calc(50% - 1.5rem);
    }
  }

  
  .surgery__dummy {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.5rem);
    display: flex;
    justify-content: center;
    max-height: 55vh;

    #dummy__surgery {
      display: block;
      max-width: 100%;
      min-width: 100%;
      object-fit: cover;
    }

    &.half{
      left: 5%;
      transform: translate(0%, -50%);
      width: calc(50% - 1.5rem);
    }
  }

  .dropdown__bar {
    position: absolute;
    top: calc(64px + 1rem);
    width: 100%;
    height: 54px;
    background: #5e5e5e;
    display: flex;
    align-items: center;

    .dropdown__wrapper {
      padding: 0.25rem 0.5rem;
      div {
        button {
          font-size: 1.1rem;
          background-color: transparent;
          color: white;
        }

        div {
          background-color: #403d39;
          box-shadow: none;
          border-radius: 2px;
          color: white;
        }

        &:first-child {
          // margin-left: 0.5rem;
          // margin-top: 1rem;
        }
      }
    }

    .dropdown__item {
      display: flex;
      align-items: center;
      color: white;

      #label__color {
        cursor: pointer;
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        #color__box {
          width: 24px;
          height: 24px;
          margin-left: 0.5rem;
        }
      }

      .sketch-picker {
        z-index: 999;
        position: absolute;
        left: 9rem;
        top: 54px

      }

      &#select__mask{
        margin-left: 1rem;
      }
    }
  }

  .add__frame__btn {
    position: absolute;
    top: calc(64px + 2.5rem);
    right: 1rem;
    color: white;
    background: #1788b4;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    .wrapper {
      position: relative;

      .text {
        i {
          margin-right: 0.5rem;
        }
      }

      #triangle {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 18px 0 18px;
        border-color: #1788b4 transparent transparent transparent;
        border-radius: 10px;
      }
    }
  }

  .player__timeline {
    position: absolute;
    bottom: 0;
  }
}
